.SearchResults{
    width: 45%;
    margin-left: 5%;
    height: auto;
    background-color: rgba(119, 0, 255, 0.75);
    padding: 1% 1.5vw;
    border-radius: 1vw;
  }

  h2{
    color: white;
    font-size: 175%;
  }

  @media only screen and (max-width: 768px){
    .SearchResults{
      width: 90%;
      margin-bottom: 15px;
    }

    h2{
      font-size: 125%;
    }
  }