*{
  /* border: 1px solid black; */
}

html{
  background-image: url("./IMG_7402.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

h1{
  color: white;
  -webkit-text-stroke: 2px black;
  font-size: 500%;
}

header{
  text-align: center;
  background-color: rgb(173, 255, 47);
  padding-bottom: 0.75vw;
}

main{
  display: flex;
  flex-flow: column;
  
}

.trackListHolder{
  display: flex;
  justify-content: center;
  gap: 5%;
  
}