@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

*{
  /* border: 1px solid black; */
}

html{
  height: 100%;
  background-image: url("1065.png");
  /* background-size: contain; */
  background-repeat: repeat;
  background-position: center;
}

h1{
  color: white;
  font-size: 500%;
  font-family: "Rubik";
}

header{
  text-align: center;
  background-color: #7700ff;
  padding: 0.75vw 0;
}

main{
  display: flex;
  flex-flow: column;
  
}

.trackListHolder{
  display: flex;
  justify-content: center;
  gap: 5%;
  margin-bottom: 3vw;
}

span{
  font-family: "Rubik";
  font-weight: 700;
}