.Playlist{
    width: 45%;
    margin-right: 5%;
    height: auto;
    background-color: rgba(173, 255, 47, 0.75);
    padding: 1% 1.5vw;
    border-radius: 1vw;
    display: flex;
    flex-direction: column;
  }

.Playlist input{
  background-color: white;
  border-radius: 0.33vw;
  width: 100%;
  height: 30px;
  padding: 0 1vw;
}

.saveButton{
  text-align: center;
}

.Playlist button{
  background-color: white;
  width: fit-content;
  padding: 0.33vw 1vw;
  margin: 1vw 0;
  border-radius: 0.33vw;
}

.Playlist button:hover{
  background-color: lightgray;
  cursor: pointer;
}