.Playlist{
  width: 45%;
  margin-right: 5%;
  height: auto;
  background-color: rgba(119, 0, 255, 0.75);
  padding: 1% 1.5vw;
  border-radius: 1vw;
  display: flex;
  flex-direction: column;
}

.Playlist input{
  background-color: white;
  border-radius: 0.33vw;
  width: 100%;
  height: 30px;
  padding: 18px 1vw;
  font-size: 20px;
}

.saveButton{
  text-align: center;
}

.saveButton button{
  text-align: center;
  background-color: white;
  width: fit-content;
  padding: 0.33vw 1vw;
  margin: 1vw 0;
  border-radius: 0.33vw;
}

.saveButton button:hover{
  background-color: lightgray;
  cursor: pointer;
}

@media only screen and (max-width: 768px){
  .Playlist{
   width: 90%;
   margin-left: 5%;
   padding: 2vw 1.5vw;
  }

  .Playlist input{
    font-size: 12px;
    height: 25px;
    padding: 10px 1vw;
    border-radius: 0.75vw;
  }

  .saveButton button{
    margin-top: 10px;
    font-size: 80%;
    border-radius: 1.25vw;
  }
}